<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ja.id.mybatis.BoardMapper">

<insert id="writeNotice" parameterType="java.util.HashMap">
	insert into board_notice (bxngrid, bxnsubject, bxncontent, bxncnt, regdate) 
	values (#{bxngrid}, #{bxnsubject}, #{bxncontent}, 0, DATE_FORMAT(NOW(), '%Y%m%d'))
	<selectKey keyProperty="bxnseq" resultType="java.lang.Integer" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
</insert>
<select id="memberoffice" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select mxoffice from member where mxseq=#{mxseq}
</select>
<select id="getAllNotice" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select b.bxnseq, b.bxngrid, b.bxnsubject, b.bxncontent, b.regdate, b.bxncnt, c.cxname from board_notice as b, code as c, member as m
	<if test="bxngrid != null">
	where b.bxngrid=#{bxngrid}
	AND b.bxngrid=c.cxcode order by bxnseq
	</if>
	where c.cxgubun=2
	AND b.bxngrid=c.cxcode order by bxnseq
	<!-- AND b.bxngrid=#{bxngrid} -->
</select>
<select id="readNotice" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select * from board_notice where bxnseq=#{bxnseq}
	<!-- AND bxngrid=#{bxngrid} -->
</select>
<update id="editNotice" parameterType="java.util.HashMap">
	update board_notice
	set bxnsubject = #{bxnsubject}, bxncontent = #{bxncontent}
	where bxnseq=#{bxnseq}
	<!-- AND bxngrid=#{bxngrid} -->
</update>
<update id="updateCnt" parameterType="java.util.HashMap">
	update board_notice
	set bxncnt=bxncnt + 1
	where bxnseq=#{bxnseq}
	<!-- AND bxngrid=#{bxngrid} -->
</update>
<delete id="deleteNotice" parameterType="java.util.HashMap">
	delete from board_notice WHERE bxnseq = #{bxnseq}
</delete>
<select id="searchNotice" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select * from board_notice
	<if test="searchname == bxnsubject">
	where bxnsubject like '%#{bxnsubject}%'
	</if>
	<if test="searchname == bxncontent">
	where bxncontent like '%#{bxncontent}%'
	</if>
</select>

<select id="repCheck" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select a.bxqseq, a.bxqgrid, a.bxqsubject, a.bxqcontent, a.regdate as qnadate, b.bxqno, b.bxqrepcontent, b.regdate as repdate
	from board_qna a
	left outer join board_qnarep b
	on a.bxqseq = b.bxqno
	where a.bxqgrid = #{bxqgrid}
	order by a.bxqseq asc
</select>

<insert id="writeQna" parameterType="java.util.HashMap">
	insert into board_qna (bxqgrid, bxqsubject, bxqcontent, regdate) 
	values (#{bxqgrid}, #{bxqsubject}, #{bxqcontent}, DATE_FORMAT(NOW(), '%Y%m%d'))
	<selectKey keyProperty="bxqseq" resultType="java.lang.Integer" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
</insert>	
<select id="getAllQna" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select q.bxqseq, q.bxqgrid, q.bxqsubject, q.bxqcontent, q.regdate, c.cxname from board_qna as q, code as c, member as m
	<if test="bxqgrid != null">
	where q.bxqgrid=#{bxqgrid}
	AND q.bxqgrid=c.cxcode order by bxqseq
	</if>
	where c.cxgubun=2
	AND q.bxqgrid=c.cxcode order by bxqseq
</select>

<select id="readQna" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select a.bxqseq, a.bxqgrid, a.bxqsubject, a.bxqcontent, a.regdate as qnadate, b.bxqno, b.bxqrepcontent, b.regdate as repdate 
	from board_qna a
	left outer join board_qnarep b
	on a.bxqseq = b.bxqno
	where a.bxqseq=#{bxqseq}
	<if test="bxqno != null">
	and b.bxqno=#{bxqno} order by a.bxqseq
	</if>
</select>

<select id="tutor" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select a.mxseq, a.tuxpicture, a.tuxhistory, a.cnt, b.mxname 
	from tutor a
	left outer join member b
	on a.mxseq = b.mxseq
	where a.mxseq=#{mxseq}
</select>
<insert id="writeComment" parameterType="java.util.HashMap">
		INSERT INTO tutor_comment (
		mxseq
		,tucxcomment
		,regdate
		) VALUES (
		#{mxseq}
		,#{tucxcomment}
		,DATE_FORMAT(NOW(), '%Y%m%d')
		)
	</insert>
	<select id="readComment" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT b.mxseq, b.tucxcomment, b.regdate 
		FROM tutor as a, tutor_comment as b 
		WHERE a.mxseq=b.mxseq
		AND a.mxseq=#{mxseq} order by b.tucxseq desc
	</select>
<insert id="writeQnarep" parameterType="java.util.HashMap">
	insert into board_qnarep (bxqno, bxqrepcontent, regdate) 
	values (#{bxqno}, #{bxqrepcontent}, DATE_FORMAT(NOW(), '%Y%m%d'))
</insert>

<update id="updateJoayo" parameterType="java.util.HashMap">
		UPDATE tutor 
		SET	cnt = cnt + 1
		WHERE mxseq=#{mxseq}
	</update>
	<select id="selectJoayo" resultType="int" parameterType="java.util.HashMap">
		SELECT cnt
		FROM tutor 
		WHERE mxseq=#{mxseq}
	</select>	
</mapper>