<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ja.id.mybatis.CodeMapper">
	<insert id="insertCode" parameterType="java.util.HashMap">
		insert into code (cxgubun, cxcode, cxname)
		values (#{cxgubun}, #{cxcode}, #{cxname})
	</insert>

	<select id="selectCode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select cxseq, cxgubun, cxcode, cxname
		from code
		where cxseq is not null
		<if test="'top'==level">
	    	and cxgubun = '000'
		</if>
		<if test="'sub'==level">
		    <if test="null != cxgubun">
		    	and cxgubun = #{cxgubun}
		    </if>
		</if>
		<if test="null != cxseq">
	    	and cxseq = #{cxseq}
	    </if>
		order by cxcode, cxname 
	</select>
</mapper>