<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ja.id.mybatis.MemberMapper">

	<insert id="insertMember" parameterType="java.util.HashMap">
	<!-- 회원 가입 하기 -->
		insert into member (mxid, mxpw, mxname, mxmail, mxoffice, mxdiv)
		values (#{mxid}, #{mxpw}, #{mxname}, #{mxmail}, #{mxoffice}, #{mxdiv})
	</insert>

	<select id="loginMember" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	<!--  로그인시 회원인지 확인하기(빨리만들어) -->	
	</select>
</mapper>