<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ja.id.mybatis.MemberMapper">

	<insert id="insertMember">
	<!-- 회원 가입 하기 -->
		insert into member (mxid, mxpw, mxname, mxmail, mxoffice, mxdiv)
		values (#{mxid}, #{mxpw}, #{mxname}, #{mxmail}, #{mxoffice}, #{mxdiv})
	</insert>

	<select id="login" resultType="com.ja.id.domain.MemberVO">
	<!--  로그인 -->
		select mxid, mxpw, mxname, mxseq, mxdiv, mxoffice from member where mxid=#{mxid} and mxpw=#{mxpw}	
	</select>
</mapper>
