<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ja.id.mybatis.UploadMapper">

<insert id="insertad" parameterType="java.util.HashMap">
		insert into advertisement (adxname1, adxurl1, adxname2, adxurl2, adxname3, adxurl3, regdate)
		values (#{adxname1}, #{adxurl1}, #{adxname2}, #{adxurl2}, #{adxname3}, #{adxurl3}, date_format(now(), '%Y%m%d'))		
	</insert>
	
	<select id="selectad" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from advertisement where adxseq = (select max(adxseq) from advertisement)
	</select>
	
	<select id="selectcourse" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from course where coxopen='Y' limit 3;
	</select>
	
	<insert id="updatepopup" parameterType="java.util.HashMap">
		insert into popup (pxname, pxfrom, pxto, pxday, pxurl, pxfile)
		values (#{pxname}, #{pxfrom}, #{pxto}, #{pxday}, #{pxurl}, #{pxfile})
	</insert>
	
	<select id="selectTutor" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT tutor.*, member.mxname
		FROM tutor, member
		WHERE tutor.mxseq = member.mxseq
		ORDER BY cnt desc limit 4
	</select>
	

</mapper>